@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html { 
  font-size: 15px;
}
body {
  font-family: 'Outfit', sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap > div:first-child {
  margin-top: 20px;
  max-width: 80%;
  text-align: center;
  color: hsl(220, 15%, 55%);
}
.wrap > div:first-child > div {
  margin-top: 10px;
}
.card-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 10px 20px 5px rgba(0,0,0,0.15);
}
.card-image {
  border-radius: 1rem;
  overflow: hidden;
  max-height: 300px;
}
.card-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
}
.card-content h3 { 
  font-weight: bold;
  font-size: 1.5rem;
  color: hsl(218, 44%, 22%);
  line-height: 130%;
}
.card-content p {
  font-size: 1rem;
  color: hsl(220, 15%, 55%);
  line-height: 130%;
}

